* include 90nm transistor model
.include [ absolute path to model file ]

* include gate subcircuits
.include [ absolute path to gates file ]

* include mux subcircuit
.include [ absolute path to mux file ]

* include d-latch subcircuit
.include [ absolute path to d-latch file ]

* include d-flip-flop subcircuit
.include [ absolute path to d-flip-flop file ]

* include one bit register subcircuit
.include [ absolute path to one bit register file ]