* include 90nm transistor model
.include [ absolute path to model file ]

* include gate subcircuits
.include [ absolute path to gates file ]

* include mux subcircuit
.include [ absolute path to mux file ]

* include d-latch subcircuit
.include [ absolute path to d-latch file ]